# Disable autom4te cache to ensure that any change to the version extraction
# script triggers a rebuild of the configure script.  See
# <https://lists.gnu.org/r/automake/2019-10/msg00002.html>.
begin-language: "Autoconf-without-aclocal-m4"
args: --no-cache
end-language: "Autoconf-without-aclocal-m4"
