*.swp
*.swn
*.swo
*.out
tags
bin/
*.o
*.gch
.deps/
.dirstamp
/*.1
/.dist-version
/Makefile
/Makefile.in
/aclocal.m4
/autoconfig.h
/autoconfig.h.in
/autom4te.cache/
/build-aux/*
!/build-aux/git-version-gen
/compose.stamp
/compose.stamp.tmp
/config.log
/config.status
/configure
/keyd
/keyd-*.tar.gz
/keyd-application-mapper
/keyd.compose
/src/unicode.c
/stamp-h1
/t/*.log
/t/*.trs
/test-io
/test-suite.log
__pycache__
test.log
keyd.service
