[Install]
WantedBy=sysinit.target

[Unit]
Description=key remapping daemon
DefaultDependencies=no
After=local-fs-pre.target

[Service]
Type=simple
ExecStart=/usr/bin/keyd 
